
@{
    ViewData["Title"] = "Registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Users

<h1>Welcome @Model.Username! Thanks for registering! </h1>

<h1>Information</h1>

<h2>@Model.FirstName</h2>

<h2>@Model.LastName</h2>

<h2>@Model.Email</h2>

<h2>@Model.Password</h2>

<h2>@Model.PhoneNumber</h2>

<h2>@Model.Birthday</h2>

<h2>@Model.Gender</h2>

<h2>@Model.RecieveEmails</h2>

