
@{
    ViewData["Title"] = "Registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model User

<h1>Welcome @Model.username! Thanks for registering! </h1>

<h1>Information</h1>

<h2>@Model.FirstName</h2>

<h2>@Model.LastName</h2>

<h2>@Model.email</h2>

<h2>@Model.password</h2>

<h2>@Model.phone</h2>
